body {
    background-image: url("https://images.unsplash.com/photo-1555099962-4199c345e5dd?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
    background-size: 100% auto;
}

/*h1 {
    color: green;
    letter-spacing: 3px;
    text-shadow: 3px 2px green;
    font-family: 'Times New Roman', Times, serif;
}*/
