<!DOCTYPE html>
<html lang="en">

<head>




    <title>{{title or 'Sistema Login'}}</title>

    <link rel="stylesheet" type="text/css" href="system.css">
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
    <link rel="icon" href="https://cdn4.iconfinder.com/data/icons/thefreeforty/30/thefreeforty_register-512.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <script type="text/javascript" charset="utf-8" src="system.js">
    </script>

</head>

<body>

    <div class="container">
        <div class="row vertical-offset-100">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    {{!base}}
                </div>
            </div>





</body>

</html>